.destiny br{
  display: none;
}
.destiny-texto br{
  display: block;
}
.destiny{
  display: flex;
  background: #0f0f0f;
  outline: #222 1px solid;
  width: 550px;
  margin: 20px auto;
  padding: 0px;
  color: #333;
  font-family: 'calibri';
  font-size: 12px;
  flex-wrap: wrap;
}
.destiny-izq {
    background: url(https://i.imgur.com/tabDYoZ.png);
    width: 125px;
    display: flex;
    align-content: space-between;
    align-items: flex-start;
  margin-bottom: -4px;
}
.destiny-titulo1 {
    font-family: 'Montserrat';
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -3px;
    font-size: 50px;
    line-height: .8;
    width: 370px;
    -webkit-text-stroke: .5px var(--color);
    color: transparent;
    padding: 25px 25px 45px;
    text-align: center;
}
.destiny-izq img{
  outline: var(--color) 1px solid;
  outline-offset: 10px;
  margin: 0px 30px;
  display: block;
}
.destiny-t{
  border-bottom: 1px solid #222;
  dislay: block;
  padding: 20px;
  width: 385px;
}
.destiny-t dato {
    background: var(--color);
    color: #fff;
    padding: 5px;
    font: 8px Montserrat;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0px 5px 0px 0px;
}
.destiny-texto{
  background: #000;
  width: 315px;
  margin: 15px 15px 0px;
  padding: 40px;
  text-align: justify;
  font-family: 'Inter', sans-serif;
  color: #9f9f9f;
  font-size: 11px;
  line-height: 1.5;
  outline: #222 1px solid;
  margin-bottom: 15px;
}
.destiny-titulo {
    color: var(--color);
    margin: 0px 25px -70px;
    font-family: 'Cookie';
    text-transform: lowercase;
    padding: 5px;
    font-size: 54px;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: -100px;
}
.destiny der{
  width: 405px;
}
.destiny-sticky{
    position: sticky;
  top: 25px;
  margin-top: 30px;
}
.destiny-izq span{
  color: #fff;
  margin: 120px 40px 30px;
  display: block;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  background: var(--color);
  width: 17px;
  height: 17px;
  border-radius: 100%;
}
.sakurade:after{
  content: ' ';
  display: block;
  width: 1px;
  height: 100px;
  background: var(--color);
  position: relative;
  left: 10px;
  top: -130px;
}
a.hr-cred{
  float: left;
  background: #fff;
  padding: 5px;
  color: #000;
  margin-top: -20px;
  position: relative;
  top: -30px;
  left: 40px;
  font: 10px 'calibri';
  text-transform: uppercase;
  text-decoration: none;
}
.contain{
  overflow: visible!important;
}
